<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Carlos-Bevin</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/plugins/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/plugins/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/plugins/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/plugins/venobox/venobox.css" rel="stylesheet">
  <link href="static/plugins/owl.carousel/static/owl.carousel.min.css" rel="stylesheet">
  <link href="static/plugins/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
      <div class="header-container d-flex align-items-center">
        <div class="logo mr-auto">
          <h1 class="text-light"><a href="#"><span>Carlos-Bevin</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="#header">首页</a></li>
            <li><a href="#about">关于我们</a></li>
            <li><a href="#services">核心产品</a></li>
            <li><a href="#portfolio">解决方案</a></li>
            <li><a href="#team">团队</a></li>
            <li class="drop-down"><a href="">Drop Down</a>
              <ul>
                <li><a href="#">Drop Down 1</a></li>
                <li class="drop-down"><a href="#">Drop Down 2</a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                  </ul>
                </li>
                <li><a href="#">Drop Down 3</a></li>
                <li><a href="#">Drop Down 4</a></li>
                <li><a href="#">Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#contact">联系我们</a></li>

            <li class="get-started"><a href="#about">Get Started</a></li>
          </ul>
        </nav><!-- .nav-menu -->
      </div><!-- End Header Container -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
      <h1>Slogen位,新时代种植养殖反正就一句话</h1>
      <h2>想挣钱就联系我们,反正这块就是一段宣传的话,吹个牛逼啥的.这块可以稍微吹的详细一点,就是概括一下你这个东西是干嘛的.</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <!-- 合作伙伴 -->
    <section id="clients" class="clients">
      <div class="container">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="100">
            <img src="static/img/clients/client-1.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="200">
            <img src="static/img/clients/client-2.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="300">
            <img src="static/img/clients/client-3.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="400">
            <img src="static/img/clients/client-4.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="500">
            <img src="static/img/clients/client-5.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="600">
            <img src="static/img/clients/client-6.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">2020</span>
            <p>公司于2020年成立于三鼎春天</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">52</span>
            <p>业务遍及全球52个国家</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1,000,000</span>
            <p>十万个以上牧场用户</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1,000,000</span>
            <p>年销售量1,000,000+</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <h2>Carlos-Bevin 畜牧养殖一体化工厂 (名字)</h2>
            <h3>这个地方就是介绍一下自己, 是个关于页面, 把公司介绍一下子啥的, 稍微多说一点, 大概就是放这么多字</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
            <p>
              这放一大段话, 也是关于的页面, 可以适当吹吹你们产品的核心卖点啥的, 反正就是多写一点, 描述描述公司是干嘛的, 有什么产品啊啥的, 也不用特别详细,把字凑出来, 然后专业点.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> 发财你就买我们产品,不买你一辈子吃不上四个菜</li>
              <li><i class="ri-check-double-line"></i> 我们的产品就是牛逼,你就买就得了</li>
              <li><i class="ri-check-double-line"></i> 次时代喂牛机器,养牛场的ps5</li>
            </ul>
            <p class="font-italic">
              这块就是属于个概括性的东西, 类似你企业文化啊啥的,随你.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->



    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-right">
            <div class="content">
              <h3>为什么选择Carlos-Bevin</h3>
              <p>
                这块就详细说说,选择我们的优势劣势啥的, 反正也是跟前面介绍啥的差不多, 就是一顿嘴遁
                这块就详细说说,选择我们的优势劣势啥的, 反正也是跟前面介绍啥的差不多, 就是一顿嘴遁
                这块就详细说说,选择我们的优势劣势啥的
              </p>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bxs-badge-dollar"></i>
                    <h4>想赚钱找我</h4>
                    <p>想赚钱找我，想赚钱找我，想赚钱找我，想赚钱找我</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bxs-badge-dollar"></i>
                    <h4>想赚钱找我</h4>
                    <p>想赚钱找我，想赚钱找我，想赚钱找我，想赚钱找我</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bxs-badge-dollar"></i>
                    <h4>想赚钱找我</h4>
                    <p>想赚钱找我，想赚钱找我，想赚钱找我，想赚钱找我</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="section-title" data-aos="fade-right">
              <h2>核心产品</h2>
              <p>(核心产品介绍, 这个地方给这几个产品起点名字啥的,然后每个产品写产品名字, 下面是描述)</p>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="row">
              <div class="col-md-6 d-flex align-items-stretch">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                  <div class="icon"><i class="bx bxl-dribbble"></i></div>
                  <h4><a href="">畜牧类青饲料种植工厂</a></h4>
                  <p>点击图标进入到这个产品的详细介绍里, 或者是有一个专门介绍的页面也行.</p>
                </div>
              </div>

              <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                  <div class="icon"><i class="bx bx-file"></i></div>
                  <h4><a href="">集约化蔬菜种植工厂</a></h4>
                  <p>集约化蔬菜种植工厂,集约化蔬菜种植工厂,集约化蔬菜种植工厂</p>
                </div>
              </div>

              <div class="col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                  <div class="icon"><i class="bx bx-tachometer"></i></div>
                  <h4><a href="">集约化马匹青饲料种植工厂</a></h4>
                  <p>集约化马匹青饲料种植工厂,集约化马匹青饲料种植工厂,集约化马匹青饲料种植工厂</p>
                </div>
              </div>

              <div class="col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
                  <div class="icon"><i class="bx bx-world"></i></div>
                  <h4><a href="">猫草罐头</a></h4>
                  <p>猫草罐头,猫草罐头,猫草罐头,猫草罐头,猫草罐头猫草罐头</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-left">
          <h2>解决方案</h2>
          <p>这块介绍几个解决方案,这块介绍几个解决方案,这块介绍几个解决方案,这块介绍几个解决方案,这块介绍几个解决方案,这块介绍几个解决方案.</p>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-6 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 1</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="static/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox"
                    title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="static/img/portfolio/portfolio-2.jpg" data-gall="portfolioGallery" class="venobox"
                    title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 2</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="static/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox"
                    title="App 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="static/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="static/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery" class="venobox"
                    title="Card 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section><!-- End Portfolio Section -->


    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="section-title" data-aos="fade-right">
              <h2>团队</h2>
              <p>这个可以要可以不要, 反正就是如果你想介绍一下团队啥的,可以留着</p>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="row">

              <div class="col-lg-6">
                <div class="member" data-aos="zoom-in" data-aos-delay="100">
                  <div class="pic"><img src="static/img/team/team-1.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Carlos</h4>
                    <span>CEO</span>
                    <p>人物介绍,人物介绍,人物介绍,人物介绍</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4 mt-lg-0">
                <div class="member" data-aos="zoom-in" data-aos-delay="200">
                  <div class="pic"><img src="static/img/team/team-2.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Bevin</h4>
                    <span>CFO</span>
                    <p>GTA首席侠盗</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4">
                <div class="member" data-aos="zoom-in" data-aos-delay="300">
                  <div class="pic"><img src="static/img/team/team-3.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Stan</h4>
                    <span>CTO</span>
                    <p>糖豆人高新园区糖王</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4">
                <div class="member" data-aos="zoom-in" data-aos-delay="400">
                  <div class="pic"><img src="static/img/team/team-4.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>X man</h4>
                    <span>幕后首脑</span>
                    <p>神秘PLC研发科学家</p>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <div class="section-title">
              <h2>联系我们</h2>
              <p>这块介绍一下公司坐落的地址啥的乱七八糟的,可以说你那个小豆传媒?或者说你哥内蒙的场子啥的,反正介绍一下地址.</p>
              <br>
              <img src="static/img/er_code.png" class="img" alt="">
            </div>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
            <iframe style="border:0; width: 100%; height: 270px;"
              src="https://map.baidu.com/poi/%E7%8E%8B%E4%B8%B9%E8%89%BA%E6%9C%AF%E5%AD%A6%E6%A0%A1(%E5%A4%A7%E8%BF%9E%E6%A0%A1%E5%8C%BA)/@13529091.235,4687886.01,17.51z?uid=4b061a2c2a6fb42f08f5ebd0&ugc_type=3&ugc_ver=1&device_ratio=1&compat=1&querytype=detailConInfo&da_src=shareurl"
              frameborder="0" allowfullscreen></iframe>
            <div class="info mt-4">
              <i class="icofont-google-map"></i>
              <h4>地址:</h4>
              <p>中国,辽宁省,大连市,甘井子区,王丹艺术学校</p>
            </div>
            <div class="row">
              <div class="col-lg-6 mt-4">
                <div class="info">
                  <i class="icofont-envelope"></i>
                  <h4>Email:</h4>
                  <p>bevin_vip@gtaonline.com</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="info w-100 mt-4">
                  <i class="icofont-phone"></i>
                  <h4>电话:</h4>
                  <p>+86 188 8888 8888</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Carlos-Bevin</h3>
            <p>
              王丹艺术学校 <br>
              大连, 甘井子区<br>
              中国 <br><br>
              <strong>电话:</strong> +86 188 8888 8888<br>
              <strong>Email:</strong> bevin_vip@gtaonline.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>友情链接</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">阿菲金</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">金克拉</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">奶牛部落</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">牛肉人农场</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">圣地亚哥</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>商务合作</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">阿菲金</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">金克拉</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">奶牛部落</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">牛肉人农场</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">圣地亚哥</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>微信公众号</h4>
            <img src="static/img/er_code.png" class="img-fluid" alt="">
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Carlos-Bevin</span></strong>. All Rights Reserved
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/plugins/jquery/jquery.min.js"></script>
  <script src="static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/plugins/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/plugins/php-email-form/validate.js"></script>
  <script src="static/plugins/waypoints/jquery.waypoints.min.js"></script>
  <script src="static/plugins/counterup/counterup.min.js"></script>
  <script src="static/plugins/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/plugins/venobox/venobox.min.js"></script>
  <script src="static/plugins/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/plugins/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>